@import url("/static/css/root.css");

* {
  margin: 0;
  padding: 0;
  transition: 0.3s all ease;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: var(--fifth-color-light-mode);
}

.top-bar img {
  width: 80px;
  height: 80px;
}

.top-bar .label-logo {
  font-size: 22px;
  font-style: italic;
  color: var(--third-color-light-mode);
}

.lateral-bar {
  height: 100%;
  padding: 10px;
  background: var(--fourth-color-light-mode);
}

.lateral-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: auto;
  gap: 15px;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: var(--second-color-light-mode);
}

li:hover {
  cursor: pointer;
  background: var(--button-hover-color-light-mode);
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: inherit;
  text-decoration: none;
  color: black;
}

main {
  height: 100%;
}
