@import url("/static/css/root.css");
.container {
  margin: 0px;
  padding: 0px 20px;
}

h1 {
  display: flex;
  flex-direction: row;
}

h1 .h1-pt2 {
  padding-left: 12px;
  font-style: italic;
  color: var(--fourth-color-light-mode);
}

div.card {
  border-radius: 12px;
  border: 2px solid var(--gray-color-light-mode);
}

div.card:hover {
  scale: 105%;
  background: var(--gray-color-light-mode);
}

div.card .card-body {
  background: var(--white-color);
  border-radius: 12px;
}

.card-body h5 {
  display: flex;
  align-items: center;
  color: var(--fifth-color-light-mode);
  gap: 10px;
}

.card-body a {
  font-style: italic;
  color: var(--fifth-color-light-mode);
}
