/* Root to set the system colors */
:root {
  --primary-color-light-mode: #cdb28a;
  --second-color-light-mode: #f9f4e3;
  --third-color-light-mode: #d4ddb1;
  --fourth-color-light-mode: #b1ba8e;
  --fourth-strong-color-light-mode: #36b428ee;
  --fifth-color-light-mode: #7a6448;
  --fifth-strong-color-light-mode: #615039;
  --sixth-color-light-mode: #ff67679c;
  --sixth-strong-color-light-mode: #f02e2eee;
  --gray-strong-color-light-mode: #494949;
  --gray-color-light-mode: #b5b5b562;
  --gray-weak-color-light-mode: #7e7e7e;
  --white-color: white;
  --black-color: black;
  --warning-yellow-color: #fff3cd;
  --warning-strong-yellow-color: #d5ae00;
}
