:root {
  --primary-color-light-mode: #cdb28a;
  --second-color-light-mode: #f9f4e3;
  --third-color-light-mode: #d4ddb1;
  --fourth-color-light-mode: #b1ba8e;
  --fourth-strong-color-light-mode: #a0b44f;
  --fifth-color-light-mode: #7a6448;
  --sixth-color-light-mode: #ff67679c;
  --sixth-strong-color-light-mode: #ff6767fb;
  --gray-color-light-mode: #b5b5b562;
  --gray-weak-color-light-mode: #7e7e7e;
  --white-color: #ffffff;
}
