<!-- The base page/HTML for the application -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/base.css" />
    <script src="/static/js/flash.js"></script>
    <script src="/static/js/base.js"></script>
    <title>{% block title %}{% endblock %} - Wallet Watching</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/wallet-watch-favicon-logo-removebg-preview.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    {% block head %} {% endblock head %}
  </head>
  <body style="font-family: 'Inter Tight', sans-serif">
    <!-- Top bar -->
    <div class="top-bar">
      <div class="row">
        <div class="col-10 column">
          <img
            class="top-bar-icon"
            src="/static/images/icon-logo-wallet-watch.png"
            alt="Wallet Watching"
          />
          <label class="label-logo" for=""><b>Wallet Watching</b></label>
        </div>
        <div class="col-2 column">
          <a class="btn hideshow-lateral" id="hideshow-lateral">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-map"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- Lateral bar -->
    <div class="container-fluid p-0">
      <nav class="lateral-bar">
        <ul>
          <li>
            <a href="/home"><i class="bi bi-house"></i> Home</a>
          </li>
          <li>
            <a href="/transactions"
              ><i class="bi bi-folder2-open"></i> Transactions</a
            >
          </li>
          <li>
            <a href="/reports"><i class="bi bi-file-ruled"></i> Reports</a>
          </li>
          <li>
            <a href="/wishlist"
              ><i class="bi bi-arrow-through-heart"></i> Wish List</a
            >
          </li>
          <li>
            <a href="/logout"><i class="bi bi-box-arrow-left"></i> Logout </a>
          </li>
        </ul>
      </nav>
      <main class="content-section">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div
          class="flash-section"
          style="position: relative; width: 50%; text-align: center"
        >
          <ul class="flashes mt-2" style="list-style-type: none">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
      </main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
  {% block content_scripts %} {% endblock %}
</html>
