{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/transactions.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} {% block title %} Transactions {% endblock %} {% block content %}

<div class="container">
  <div class="row header-row mt-3">
    <div class="col-md-8">
      <h2 class="">
        <i class="bi bi-folder2-open"></i> Transactions this month
      </h2>
    </div>
    <div class="col-md-4">
      <button
        type="button"
        class="btn btn-new-t"
        data-bs-toggle="modal"
        data-bs-target="#newTransacModal"
      >
        <i class="bi bi-plus"></i> New Transaction
      </button>
    </div>
  </div>

  <div class="row overview mt-3">
    <div class="col md-4">
      <div class="shadow p-3 bg-body-tertiary rounded">
        <p>Current balance</p>
        {% if not total_in_account >= 0 %}
        <input
          type="text"
          class="curr-b-overview overview-input warning"
          value="R$ {{ total_in_account | replace('.', '') }}"
        />

        {% else %}

        <input
          type="text"
          class="curr-b-overview overview-input"
          value="R$ {{ total_in_account | replace('.', '') }}"
        />
        {% endif %}
      </div>
    </div>
    <div class="col md-4">
      <div class="shadow p-3 bg-body-tertiary rounded">
        <p>Gains</p>
        <input
          type="text"
          class="gains-overview overview-input"
          value="R$ {{ total_gains | replace('.', '') }}"
        />
      </div>
    </div>
    <div class="col md-4">
      <div class="shadow p-3 bg-body-tertiary rounded">
        <p>Expenses</p>
        <input
          type="text"
          class="expenses-overview overview-input"
          value="R$ {{ total_expenses | replace('.', '') }}"
        />
      </div>
    </div>
  </div>

  <div class="row in-out mt-3">
    <div class="col-md-12">
      <div class="shadow p-3 bg-body-tertiary rounded">
        <h5 class="inoutflow-title">
          <i class="bi bi-wind"></i>
          Inflows and Outflows
        </h5>
        <div class="transac-section">
          <div class="row mb-4"></div>
          {% if transactions %} {% for transaction in transactions %}
          <div class="row inoutflow-row mt-1">
            <div class="col-md-9">
              {% set transac_date_string =
              transaction.transaction_date.strftime('%Y-%m-%d') %} {% set
              transac_date = transac_date_string.split('-') %}
              <p class="category {{ transaction.type }}">
                {{ transaction.category | capitalize | replace("_", " ") }} ({%
                if transaction.description %}{{ transaction.description }}{%
                else %}No description{% endif %})
              </p>
              <p class="transac-date">
                {{ transac_date[2] }}/{{ transac_date[1] }}/{{ transac_date[0]
                }}
              </p>
              {% if transaction.has_receipt == "yes" %}
              <a
                href="{{ url_for('download_receipt', receipt_id=transaction.id) }}"
                >Download Receipt</a
              >
              {% else %}{% endif %}
            </div>
            {% if transaction.type == "expense" %}
            <div class="col-md-3 expense">
              <i class="bi bi-caret-down-square"></i>
              {% if transaction.fixed_cost == "yes" %}
              <p class="fixed-cost">(Fixed Cost)</p>
              {% else %}{% endif %}
              <input
                type="text"
                class="amount-redeemed"
                value='R$ {{ transaction.amount | replace(".", "") }}'
              />
              <button
                type="button"
                class="btn btn-outline-danger"
                onclick="deleteTransaction(this)"
                id="button-{{ transaction.id }}"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                  />
                </svg>
              </button>
            </div>
            {% else %}
            <div class="col-md-3 gain">
              <i class="bi bi-caret-up-square"></i>
              <input
                type="text"
                class="amount-redeemed"
                value='R$ {{ transaction.amount | replace(".", "") }}'
              />
              <button
                type="button"
                class="btn btn-outline-danger"
                onclick="deleteTransaction(this)"
                id="button-{{ transaction.id }}"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                  />
                </svg>
              </button>
            </div>
            {% endif %}
          </div>
          {% endfor %} {% else %}
          <p class="p-nocontent">No transactions found</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 analytics-section" id="analytics-section">
    <div class="col-md-6 exp-analy pb-0" id="exp-analy">
      <div class="graphic-section shadow p-3 pb-0 bg-body-tertiary rounded">
        <h5 class="graphic-p expense">
          <i class="bi bi-hand-thumbs-down"></i> Expenses Analytics per
          Percentage
        </h5>
        {% if expenses_list %}
        <input
          type="hidden"
          name="expenses_list"
          id="expenses_list"
          value="{{ expenses_list }}"
        />

        <div class="canvas-section">
          <canvas class="graphic" id="graphic-expenses"></canvas>
        </div>
        {% else %} {% endif %}
      </div>
    </div>
    <div class="col-md-6 gain-analy pb-0" id="gain-analy">
      <div class="graphic-section shadow p-3 pb-0 bg-body-tertiary rounded">
        <h5 class="graphic-p gain">
          <i class="bi bi-hand-thumbs-up-fill"></i> Gains Analytics per
          Percentage
        </h5>
        {% if gains_list %}
        <input
          type="hidden"
          name="gains_list"
          id="gains_list"
          value="{{ gains_list }}"
        />

        <div class="canvas-section">
          <canvas class="graphic" id="graphic-gains"></canvas>
        </div>
        {% else %} {% endif %}
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="newTransacModal"
    tabindex="-1"
    aria-labelledby="newTransacModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="newTransacModalLabel">
            Transaction
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action="{{ url_for('transactions') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="modal-body">
            <div class="row type_row">
              <div class="col-md-12">
                <label for="type-select">Transaction type:</label>
                <select
                  class="form-select"
                  name="type-select"
                  id="type-select"
                  onchange="contentToRow(this.value)"
                >
                  <option value="" selected disabled>
                    Click here to select
                  </option>
                  <option value="gain">Gain</option>
                  <option value="expense">Expense</option>
                </select>
              </div>
            </div>

            <div class="section_by_type mt-3 d-none" id="section_by_type"></div>
          </div>
          <div class="modal-footer" id="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-save-trans">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px"></div>
</div>

{% endblock %} {% block content_scripts %}
<script src="/static/js/transactions.js"></script>
{% endblock %}
