{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/transactions.css" /> {% endblock %} {%
block title %} Transactions {% endblock %} {% block content %}

<div class="container">
  <div class="row header-row mt-3">
    <div class="col md-12">
      <h2><i class="bi bi-cash-coin"></i>Transactions</h2>
      <button type="button" class="btn btn-new-t">
        <i class="bi bi-plus"></i> New Transaction
      </button>
    </div>
  </div>

  <div class="row overview mt-4">
    <div class="col md-4">
      <div class="shadow-sm p-3 bg-body-tertiary rounded">
        <p>Current balance</p>
        <h2>R$ 0,00</h2>
      </div>
    </div>
    <div class="col md-4">
      <div class="shadow-sm p-3 bg-body-tertiary rounded">
        <p>Gains</p>
        <h2 class="gains-h2">R$ 0,00</h2>
      </div>
    </div>
    <div class="col md-4">
      <div class="shadow-sm p-3 bg-body-tertiary rounded">
        <p>Expenses</p>
        <h2 class="expenses-h2">R$ 0,00</h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}
